body {

    overflow-x: hidden;
}
.custom-menu-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.custom-product-selection-button {
    width: 80%;
    color: black;
    font-size: 15px;

    background-color: #0dcaf0;
}
.custom-product-selection-button:hover {
    color: #000000;
    font-weight: 600;
    border-color: #d78aea;
    background-color:#d78aea;
}
.custom-product-selection-button:focus {
    width: 80%;
    color: black;
    font-size: 15px;
    border-color: #ffffff80;
    background-color: #d78aea;
    box-shadow: none;
}
.custom-product-selection-button:focus:hover {
    color: #000000;
    font-weight: 600;
    border-color: #ffffff80;
    background-color: #0dcaf0;
    box-shadow: 0 0 15px #ffffff80;
}
@media (min-width: 768px) {
    .custom-menu-section {
        margin-top: 11rem;
        margin-bottom: 5.5rem;
    }
}
.custom-products-section {
    margin-top: 1rem;
}
.custom-carousel-item-content {
    display: flex;
    justify-content: center;
}
.custom-card {
    width: 15rem;
    margin: 0.3rem;
    border: none;
    background-color: #ffffff00;
}
.custom-levitation-effect {
    transform: translateY(0px);
    transition: transform 0.5s;
}
.custom-levitation-effect:hover {
    transform: translateY(-8px);
}
.custom-card-body {
    text-align: center;
}
.custom-card-body h5 {
    color: black;
}
.custom-card-body h6 {
    color: black;
}
.custom-products-section {
    position: relative;
}
.custom-carousel-inner {
    padding: 1em;
}
.custom-carousel-control-prev,
.custom-carousel-control-next {
    top: 50%;
    width: 7vh;
    height: 7vh;
    background-color: black;
    transform: translateY(-50%);
}
.custom-carousel-control-prev:hover,
.custom-carousel-control-next:hover {
    background-color: #0dcaf0;
}
@media (min-width: 576px) {
    .custom-carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
    }
    .custom-carousel-inner {
        display: flex;
    }
}
@media (min-width: 1200px) {
    .custom-carousel-item {
        margin-right: 0;
        flex: 0 0 33.33%;
        display: block;
    }
    .custom-carousel-inner {
        display: flex;
    }
}
